.menu {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 24px;
}

.headerUser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
}

.contentTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contentButtons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 55px;
}

.contentCards {
    display: flex;
    flex-direction: row;
    gap: 10px;
}