.menu {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 24px;
}

.headerUser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    height: 2vw;
    align-items: center;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.info {
    display: flex;
    flex-direction: column;
}

.infoDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin: 48px 48px 48px 48px;

}

.iconSelectPlace {
    display: flex;
    gap: 256px;
}

.iconSelectNF {
    display: flex;
    gap: 224px;
    padding-right: 2px;
}

.iconSelectDate {
    display: flex;
    gap: 176px;
    padding-right: 10px;
}

.iconSelectInput {
    display: flex;
    gap: 44px;
}

.iconSelectCar {
    display: flex;
    gap: 28px;
}

.button {
    background-color: darkblue;
    color: white;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
