.menu {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 24px;
}

.headerUser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    height: 10vw;
    align-items: center;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoStore, .nf, .date, .product, .vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 24px 24px 24px 24px;
    font-weight: bold;
}
