.menu {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 24px;
}

.headerUser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
}

.contentTitleFornecedores {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 25px;
}

.contentTitleEndereco {
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contentBottomButton {
    padding-top: 25px;
}
