.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 25px 25px 25px;
}
.contentTitle {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 25px;
}

.contentPdf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pdf {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.contentTitleEndereco {
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contentBottomButton {
    padding-top: 25px;
    display: flex;
    justify-content: end;
}

.buttonCancel {
    border: 1px solid #001C36;
    background-color: none;
    color: #001C36;
}

.buttonSalvar {
    border: 1px solid #001C36;
    background-color: #001C36;
    color: white
}
