.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 25px 25px 25px;
}

.contentButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentTopButtons {
    padding-bottom: 25px;
    display: flex;
    justify-content: end;
}

.column {
    color: #001C36;
    border: 1px solid #001C36;
    background: none;
}

.add {
    border: 1px solid #001C36;
    background-color: #001C36;
    color: white
}